.avg-card {
    background-image: url(https://www2.arccorp.com/globalassets/covid19/average-background.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.avg-card-inner {
    text-align: left;
    padding: 30px 45px;
}

.average {
    color: white;
    background: -webkit-linear-gradient(0deg, #ffa619, #ff1b71);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.avg-card-main{

}

.avg-card-small {

}