.avg-card {
    background-color: #000000;
    background-image: url(https://www2.arccorp.com/globalassets/covid19/avg-slants.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.avg-card-inner {
    text-align: left;
    padding: 10px 45px 30px;
}

.avg-circle {
    position: absolute;
    right: 35px;
    top: 30px;
}

.average {
    color: white;
    background: -webkit-linear-gradient(0deg, #ffa619, #ff1b71);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.avg-card-main{
    color: white;
    font-weight: bold;
}

.avg-card-small {
    color: white;
}