.avg-card {
    background-color: #000000;
    background-image: url(https://www2.arccorp.com/globalassets/covid19/avg-slants.png);
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.covid19-row {
    padding-top: 50px;
    padding-bottom: 40px;
}

.avg-card-inner {
    text-align: left;
    padding: 30px 30px 30px 40px;
}

.avg-circle {
    position: absolute;
    right: 45px;
    top: 30px;
}

.average {
    font-family: Oswald-Bold;
    font-size: 44px;
    margin-bottom: 20px;
    color: white;
    background: -webkit-linear-gradient(180deg, #ff1b71, #ff1b71 20%, #ffa619);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    line-height: 1;
}

.avg-card-main{
    color: white;
    font-weight: bold;
}

.avg-container {
    margin-left: 70px;
}

.avg-card-small {
    color: #888888;
}

@media (max-width: 990px) {
    .avg-container {
        margin-left: auto;
    }
}