@import "percents.scss";
.data-panel {
  height: auto !important;
  margin-top: 0;
}

.data-panel__inside {
  display: none;
}

.data-panel .background {
  position: relative;
}

.primary-nav__after,
.primary-nav__before {
  display: none;
}

.data-panel + footer {
  margin-top: 0 !important;
}

.covidGraphContainer {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.mapgraph {
  max-width: 1170px;
  margin: 30px auto 60px;

  .graphTitle,
  .graphSubTitle {
    margin-left: 0;
  }
}

#app {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  .loading {
    vertical-align: middle;
    text-align: center;
    width: 100%;
    .loading-icon {
      color: #dddddd;
      display: block;
      font-size: 70px;
      margin: 0 auto;
    }
  }
}

.covidPage {
  color: #414042;
  width: 100%;
}

#update-alert {
  justify-content: center;
  display: flex;
  .banner-text {
    max-width: 1170px;
    width: 100%;
    border-radius: 20px;
    border: #ffa619 solid 5px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    
    img {
      margin: auto;
      max-width: 100%;
      width: auto;
      max-height: 100%;
      height: max-content;
      padding-right: 35px;
      padding-left: 35px;
    }
    p.alert-text {
      display: inline-block;
      font-family: SourceSansPro-Semibold, Arial, Helvetica, sans-serif;
      padding-right: 100px;
      margin-bottom: 0;
      font-size: 16px;
      a {
        color: #ffa619;
        font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
        text-decoration: none;
      }
    }
  }
}

.covidHeader {
  background-color: #f7f5f5;
  padding-top: 30px;
}

.covidJumbo {
  background: #2a2b2c
    url("https://www2.arccorp.com/globalassets/covid19/COVID_data_retina.jpg")
    center center no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin: 30px auto 60px;
  max-width: 1210px;
  width: 100%;
  height: auto;
}

.jumboInfo {
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding-left: 90px;
  max-width: 650px;
  display: flex;
  align-items: center;
  height: 600px;
  font-size: 66px;
  color: #6c6d70;

  background: -webkit-linear-gradient(180deg, #ff1b71, #ff1b71 20%, #ffa619);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  h1 {
    line-height: 64px;
  }
}

.icon-arc-logo {
  font-size: 44px;
}

.covidInfo {
  padding-bottom: 60px;
  margin: auto;
  max-width: 960px;
  p {
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  a {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  }
  small {
    font-size: 14px;
  }
}

.snowflakeContainer {
  display: block;
  margin-top: 60px;
  margin-bottom: 60px;
  .snowflakeImg {
    p {
      max-width: 1000px;
      line-height: 1.2 !important;
    }
  }
}

.snowflakeImg {
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  background: #2a2b2c
    url("https://www2.arccorp.com/globalassets/covid19/snowflake_retina.jpg")
    center center no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1170px;
  padding: 30px 60px 25px;
  margin: 0 auto;
  border-radius: 10px;
}

.snowflakeBold {
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  margin-top: 25px;
  color: #ffa619;
  font-size: 18px !important;
  margin-bottom: 0;
  line-height: 1.2 !important;
}

.snowflakeSmall {
  color: #aaaaaa;
  font-size: 18px !important;
  line-height: 1.2 !important;
}

.snowflakeCTA {
  padding-left: 15px;
  a:link {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    text-decoration: none !important;
  }
  font-size: 14px;
  text-transform: uppercase;
  color: #1d9cb1;

  &::after {
    font-family: "icomoon";
    content: "\E909";
    font-size: 0.675rem;
    margin-left: 10px;
  }
}

.covid-hr {
  border-bottom: 1px solid #5d5c68;
  max-width: 1170px;
  width: 100%;
}

.graphInfo {
  position: relative;
  margin-top: 25px;
}

a.covidDownload {
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;

  &::after {
    display: inline-block;
    font-family: "icomoon";
    content: "\E909";
    font-size: 0.675rem;
    margin-left: 10px;
    transform: rotate(90deg);
  }
}

.covidSheets {
  top: 20px;
  right: 0px;
  text-align: right;
  position: absolute;
  z-index: 1;
}

.covidNoteDiv {
  padding-top: 40px;
}

.covidNote {
  color: #888888;
  font-size: 12px !important;
  margin-bottom: 0px;
}

.bottomData {
  padding-top: 60px;
  padding-bottom: 80px;
  border-top: 1px solid #aeadb3;
  max-width: 1030px;

  h2 {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    line-height: 1.1;
    margin-bottom: 25px;
    font-size: 2rem;
  }
  p {
    font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    padding-right: 30px;
  }
  a.ctaBtn {
    min-height: auto;
    padding: 10px 15px;
    margin: 0 auto;
    text-align: center;
  }
}

.victoryHover {
  fill: "red";
}

.graphTitle {
  color: #414042;
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-left: 35px;
  padding-top: 10px;
  margin-top: 0 !important;
  max-width: 1030px;
}

.graphSubTitle {
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 35px;
  color: #888888;
}

.graphToggleContainer {
  padding: 25px 0;
  margin-left: 60px;
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: 35px;
}

.graphToggle {
  cursor: pointer;

  i,
  .fa-check {
    display: none;

    &.graphToggleKey1,
    &.graphToggleKey2,
    &.graphToggleKey3,
    &.graphToggleKeyRed,
    &.graphToggleKeyGreen {
      display: inline-block;
      font-size: 14px;
      margin-right: 3px;
    }
  }

  &.active {
    i,
    .fa-check {
      display: block;
    }
    .graphToggleCheckbox {
      color: #51515e;
      background: #ffffff;
    }
    .graphToggleKey1,
    .graphToggleKey2,
    .graphToggleKey3 {
      display: inline-block;
    }
  }
}

.graphToggleKey1 {
  color: #189bb0;
}

.graphToggleKey2 {
  color: #bbaf8b;
}

.graphToggleKey3 {
  color: #316677;
}

.graphToggleKeyGreen {
  color: #189bb0;
}

.graphToggleKeyRed {
  color: rgba(0, 0, 0, 0.8);
}

.graphToggleLabel {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 6px;
}

.graphToggleCheckbox {
  color: #ffffff;
  background: #2a2b2c;
  display: flex;
  padding: 5px;
  border: 1px solid #2a2b2c;
  border-radius: 4px;
  font-size: 12px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.highcharts-legend-item-hidden {
  .graphToggleCheckbox {
    background: transparent;
    border-color: #2a2b2c;
    svg,
    i {
      display: none;
    }
  }
}

.ytd-container {
  max-width: 730px;
  width: 100%;
  margin: 0 auto 40px;
  margin-bottom: 40px;
}

.ytd-data-container {
  display: flex;
  flex-direction: column;
}

.ytd-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  min-width: 40px;
  color: #ffffff;
  border-radius: 50%;
  background: #189bb0;
  margin-left: 15px;
  margin-right: 30px;
  font-family: SourceSansPro-Black, Arial, Helvetica, sans-serif;
}

.ytd-data {
  display: flex;
  font-family: SourceSansPro-Regular, Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #232323;
}

.ytd-label {
  color: #9e9e9f;
  display: flex;
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.brushContainer {
  margin-left: 90px;
  margin-right: 50px;
  margin-top: 10px;

  svg[width="600"] {
    border-top: 1px solid #aeadb3;
    border-bottom: 1px solid #aeadb3;
  }
}

.covid-table {
  max-width: 820px;
  margin: 40px auto 40px;
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.covid-row {
  background: #f1f2f2;
  margin-bottom: 10px;
  padding: 18px 25px;
  strong {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  }
}

.covid-row-additional {
  display: none !important;
}

.covid-headers {
  font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-top: 1px solid #dddddd;
  padding: 10px 25px 15px;
}

.mainStatPercentChange {
  min-width: 60px;
}

.mainStatPercentChangeBar {
  background: #ffffff;
  height: 4px;
  overflow: hidden;
  width: 150px;
  margin-left: 10px;
}

.barChange {
  height: 4px;
  background: rgb(202, 52, 59);
}

.graph-tooltip {
  background: #ffffff;
  color: #414042;
  border-radius: 8px;
  padding: 18px 24px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(000, 000, 000, 0.3),
    0 6px 6px rgba(000, 000, 000, 0.3);
  display: inline-block;
  min-width: 120px;
  font-size: 16px;
  line-height: 1.25;
}

.graph-tooltip-date {
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.graph-tooltip-data-label {
  margin-top: 5px;
}

.graph-tooltip-data {
  margin-bottom: 5px;
  i {
    font-size: 12px;
  }
  font-family: SourceSansPro-Black, Arial, Helvetica, sans-serif;
}

.covidChartContainer {
  min-height: 700px;

  .highcharts-plot-background {
    //border: 1px solid #2a2b2c;
  }

  .highcharts-legend-item {
    .highcharts-graph {
      display: none;
    }
  }

  g.highcharts-legend-item:before {
    content: "3";
  }

  .highcharts-title,
  .highcharts-subtitle {
    transform: translateX(-10px);
  }

  .highcharts-xaxis .highcharts-tick {
    display: none;
  }
  .highcharts-axis-labels span {
    margin-top: 27px !important;
  }
}

.covidMapContainer {
  min-height: 650px;
}

@media (max-width: 990px) {
  .jumboInfo > h1 {
    font-size: 45px;
    margin-bottom: 0;
    line-height: 1;
  }

  .icon-arc-logo {
    font-size: 31px;
  }

  .jumboInfo {
    padding: 56px 26px 66px;
  }

  .covidInfo {
    padding-bottom: 30px;
  }

  .covidInfo > p {
    font-size: 18px;
    margin: 10px;
  }

  .snowflakeImg {
    margin: 10px;
  }

  .covid-hr {
    max-width: 340px;
  }

  .covidSheets {
    margin-left: 30px;
    top: auto;
    text-align: left;
    position: relative;
  }

  .covidNoteDiv {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .avg-card {
    margin: 10px;
  }
}

@media screen and (max-width: 767.999px) {
  .covidChartContainer {
    //min-height: 300px;
  }

  .covidMapContainer {
    min-height: 350px;
  }

  .covidJumbo {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }

  .jumboInfo {
    height: auto;
    padding: 120px 15px;
  }
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  .VictoryContainer {
    height: 500px !important;
  }
}

/* ======== global data styles ======== */
.buttonGroup {
  text-align: center;

  h2 {
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
  }

  .buttonGroupButtons {
    display: flex;
    &.center {
      justify-content: center;
    }
  }

  .buttonGroupButton {
    background: #efefef;
    color: #414042;
    border: #aeadb3 1px solid;
    font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
    padding: 12px 20px;
    border-right: none;
    min-width: 120px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;

    &.active {
      font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
      background: #ffffff;
    }

    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-right: none;
    }
    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      border-right: 1px solid #aeadb3;
    }
  }
}

.showAll {
  color: #414042;
  border: 1px solid #f1f2f2;
  margin-bottom: 10px;
  padding: 20px 25px;
  cursor: pointer;
  font-size: 14px;
}

.countryName {
  text-transform: capitalize;
}

.buttongroupSelectors {
  margin-top: 40px;
  margin-left: 35px;
  margin-bottom: 25px;
}

.fa-grip-lines-vertical:after {
  content: "\f7a5";
}

.customHandle {
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }

  div {
    border: 1px solid darkgray;
    text-align: center;
    font-size: 7px;
    //width: 8px;
  }
}

.tooltip-dot-custom {
  font-size: 22px;
  margin-right: 10px;
}

.brushsvg {
  rect {
    &:active {
      cursor: grabbing !important;
    }
  }
}
